{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h1 style="display: inline-block">Store information:</h1>
        <div class="float-right">
            <button class="btn btn-primary createShop">+</button>
        </div>

        <div class="accordion" id="accordionExample">
            {% for shop in shops %}
                <div class="card">
                    <div class="card-header" id="heading{{ shop.id }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ shop.id }}" aria-expanded="false" aria-controls="collapse{{ shop.id }}">
                                Shop №{{ shop.id }}
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{ shop.id }}" class="collapse hidden" aria-labelledby="heading{{ shop.id }}" data-parent="#accordionExample">
                        <div class="card-body">
                            {{ dump(shop.party) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}