{% block body %}
    {% for party in partys %}
        <button class="btn btn-danger float-right byeToy" data-party-id = "{{ party.id }}">Bye toy</button>
        Party id: {{ party.id }}<br>
        Toy: {{ party.toy }}<br>
        Quntity: <span class="quntityToy{{ party.id }}">{{ party.quntity }}</span><br>
        Date: {{ party.date |date('Y-m-d') }}<br>
        <hr>
    {% endfor %}
{% endblock %}